@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Raleway:300,400,500");

/* FONTS */

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.center-title {
    margin: 1.2rem auto;
    display: inline-block;
}

.content-container h2 {
    margin: 3rem 0;
}

h2::after,
h3::after,
#beerCarousel .carousel-item h4::after {
    content: "";
    width: 60%;
    height: 1px;
    display: block;
    clear: both;
    background-color: #000;
    margin: auto;
    margin-top: 0.6rem;
}

h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

/* COLORS */

body {
    background-color: #fffff2;
}

a {
    color: #ed1651;
}

a:hover {
    color: #a70432;
    text-decoration: none;
}

/* HEADING */

.logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 100%;
}

header {
    background-image: url("../images/nav-bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav .nav-item .nav-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    padding: 0.5rem 1.2rem;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fff;
}
.navbar-nav .nav-item .nav-link:hover::after,
.nav-item .active::after {
    content: "";
    width: 60%;
    height: 1px;
    display: block;
    clear: both;
    background-color: #fff;
    margin: auto;
}

.nav-container {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .nav-container ul {
        position: relative;
        bottom: -20px;
    }
}

.navbar-toggler {
    position: absolute;
    top: 25px;
    right: -20px;
    border: 0;
}

/* FOOTER */

footer .bg-custom {
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fffff2;
    font-size: 0.8rem;
    padding-top: 20px;
}

.footer-info li {
    margin-bottom: 0.5rem;
}

footer h4 {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

footer a,
footer a:hover {
    color: #fffff2;
}

footer .social ul {
    line-height: 2rem;
}

footer .social .list-inline-item {
    font-size: 1.4rem;
}

footer .social .list-inline-item:hover {
    transform: scale(1.2);
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
    padding-right: 0.5rem;
}

footer input[type="email"] {
    border: none;
    width: 100%;
    font-size: 0.8rem;
    border-radius: 0;
    display: inline-block;
    height: 2rem;
    background-color: #fffff2;
}

footer button[type="submit"] {
    background-color: #812890;
    width: 5em;
    height: 2em;
    display: inline-block;
    border: 0;
    margin-top: 0.5em;
    padding-top: 0.3em;
}

footer button[type="submit"]:hover {
    background-color: #631253;
}

footer hr {
    border-top: 1px solid #fffff2;
    width: 60%;
}

footer .fa-ul {
    left: 1.5em;
}

footer .fa-ul {
    margin-left: 0;
}

/* STICKY FOOTER */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* ELEMENTS */
.btn-primary {
    background-color: #ed1651;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: #a70432;
}

.carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

/* SPACING */

.content-container,
.nav-container nav,
.footer-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    padding-bottom: 3rem;
}

.row-buffer {
    margin-top: 2rem;
}

/* BEER LIST */

.beer-info {
    display: none;
}

.beer-img {
    padding: 1.2rem;
    position: relative;
}

.beer-img img {
    width: 80%;
}

.beer-img img:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(2px 5px 3px #aaa);
    filter: drop-shadow(2px 5px 3px #aaa);
}

.beer-img a {
    text-align: center;
}

/* BEER MODAL FORMATTING */

.modal-content {
    border-radius: 0;
    padding: 2rem;
}

.modal .modal-bg {
    background-color: #fffff2;
}

button.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2.5rem;
    font-weight: 300;
    z-index: 1100;
    cursor: pointer;
}

.modal-img {
    padding-left: 2rem;
    position: relative;
}

.modal-img img {
    width: 80%;
}

.art-credit {
    font-size: 0.5rem;
    margin: 0.1rem auto;
    display: block;
}

.progress-label {
    font-size: 0.8rem;
    text-transform: lowercase;
    padding-right: 0.2rem;
}

.progress-bar {
    background-color: #741372;
}

.progress {
    background-color: #f5e1fd;
    border-radius: 0;
}

/* MOBILE BEER CAROUSEL */

#beerCarousel .beer-carousel-img {
    width: 100%;
    max-width: 200px;
    margin: auto;
}
#beerCarousel .carousel-inner {
    padding: 2rem;
}

#beerCarousel .carousel-indicators {
    position: absolute;
    top: 0px;
}

#beerCarousel .carousel-indicators li {
    background-color: #631253;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#beerCarousel .carousel-item {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/* VISIT PAGE / FORM */

.form-wrapper {
    width: 60%;
    margin: auto;
}

.form-control,
.custom-select {
    border-radius: 0px;
    border: solid 1px #ccc;
}

/* HOMEPAGE MAP FORMATTING */
#map-container iframe {
    border: none;
    margin-top: -50px;
    width: 100%;
    height: 20rem;
}

#map-container {
    overflow: hidden;
}

#map-overlay {
    position: relative;
    width: 100%;
    height: 20rem;
    top: 20rem;
    margin-top: -20rem;
    z-index: 1;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .form-wrapper {
        width: 100%;
    }
}
